#!/bin/bash

source ./_env/project_config.bashrc


export MACHINE_NAME=
export PROJECT_DN=

export JUPYTERLAB_PORT=8888
export JUPYTERLAB_HOST=localhost

export MOUNTS_DOCKER=
export MOUNTS_SINGULARITY=

export SINGULARITY_CACHEDIR=
export SINGULARITY_TMPDIR=

